.table {
  width: 100%;
}

.actions {
  margin-left: 15px;
  margin-bottom: 15px;
}

.filters {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.column-header {
  text-align: center;
}

.search-field {
  width: 100%;
}
