<section [ngClass]="(aspectService.isHandset$ | async) ? 'mobile-form' : 'desktop-form'" class="dialog-form">
  <h1 *ngIf="title" mat-dialog-title style="margin-top: 40px; margin-bottom: 40px">
    {{ title }}
  </h1>
  <form
    [formGroup]="formGroup"
    fxLayout="column"
    fxLayoutAlign="start start"
    fxLayoutGap="10px"
    (ngSubmit)="(confirmClicked)"
    style="width: 100%"
  >
    <ng-content></ng-content>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%">
      <button [disabled]="!formGroup.valid || !changed" (click)="confirmClicked.emit($event)" mat-button color="accent">
        {{ 'global.ok' }}
      </button>
      <button
        *ngIf="cancelClicked.observers.length !== 0"
        (click)="cancelClicked.emit($event)"
        mat-button
        color="accent"
      >
        {{ 'global.cancel' }}
      </button>

      <ng-content select="ng-easy-start-form-actions"></ng-content>
    </div>
  </form>
</section>
